@import '/styles/global/vars.scss';

.wrapper {
    .unit, .old {
        color: var(--text_light);
        @include setFont(14px, 19px, 600);
    }
    .old {
        text-decoration: line-through;
        text-decoration-color: var(--accent_2);
    }
}