@import '/styles/global/vars.scss';

.top {
  height: 56px;
  display: flex;
  align-items: center;
  @include defaultAnim;  
  overflow: hidden;

  .top_in {
    padding: 6px 0;
    display: flex;
    justify-content: space-between;

    .top_main {
      display: flex;
      align-items: center;
      overflow: hidden;
      
      .logo {
        flex: 0 0 auto;
        height: 36px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: flex;
        }
      }
    }
  }
}

.top.hide {
  height: 0;
}