@import '/styles/global/vars.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #fff;
  @include flexCenter;

  .content {
    padding: 35px;
    max-width: 450px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: flex;
    }
  }
}