@import '/styles/global/vars.scss';

.wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;

  .slider {
    width: 100%;

    .slide {
      width: fit-content;
    }
  }


  .item {
    @include setFont(16px,16px,600); 
  }

  .location {
    border-right: 1px solid var(--text_light);
  }
}