@import '/styles/global/vars.scss';


.wrapper {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 3;
 background-color: #fff; 
 padding: 18px 0;
 @include defaultAnim;
//  min-height: 134px;
//  @include defaultAnim;



 .bottom {
  min-height: 70px;
  display: flex;
  align-items: center;
  padding: 6px 0;
  .bottom_in {
    @include flexCenter;
    justify-content: space-between;

    .nav {
      width: 100%;
      overflow: hidden;
      @include flexCenter;
      justify-content: space-between;

      .nav_list {
        width: 100%;
        overflow: hidden;
      }
    }
  }
 }
}

.wrapper.scrolled {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(11px);
  padding: 0;
}