@import '/styles/global/vars.scss';

.wrapper {
  
  .label {
    @include setFont(14px,17px,600);
    margin-bottom: 2px;
  }
  .field {
    border: 2px solid var(--panel);
    background-color: var(--panel);
    position: relative;
    display: flex;
    // align-items: center;
    border-radius: 12px;
    overflow: hidden;
    @include defaultAnim;

    .input {
      display: flex;
      align-items: center;
      width: 100%;
      font-weight: 500;
      padding: 11px 17px;
    }
  
    .ex { 
      font: inherit;
      flex: 0 0 auto;
      @include flexCenter;
      padding: 10px;
      min-width: 50px; 
    }
  
    .ex.start {
      
    }
  
    .ex.end {
      
    }
  }

  .field.startContent {
    .input {
      padding-left: 0;
    }
  }
  .field.endContent {
    .input {
      padding-right: 0;
    }
  }

  .error_message {
    color: var(--accent_2);
    @include setFont(12px,16px,500);
    padding-top: 2px;
  }

  .field.focused {
    border-color: var(--accent);
    background-color: #fff;
  }
  
  .field.error {
    border-color: var(--accent_2);
  }

}

