@import '/styles/global/vars.scss';

.wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 80px;

  .part {
    width: calc((100% / 2) - 30px);
    margin: 0 15px;  
    flex: 0 0 auto;
  }
}