@import '/styles/global/vars.scss';

.wrapper {
  position: fixed;
  right: 5%;
  bottom: 10%;
  z-index: 100;
  transform: scale(0);
  border-radius: 100%;
  box-shadow: 0 0 30px #fff;
  @include defaultAnim;
}

.wrapper.active {
  transform: scale(1);
}

@media (max-width: 768px) {
  .wrapper {
    display: none;
  }
}