@import '/styles/global/vars';

.wrapper {
  border-radius: 12px;
  width: 100%;
  padding: 12px;
  @include defaultAnim;

  &:hover {
    box-shadow: 0px 4px 22px 0px rgba(116, 92, 0, 0.2); 
  }
  
  .body {
    padding: 12px 0;
    .title {
      &:hover {
        color: var(--accent);
      }
    }

    .text {
      text-overflow: ellipsis;
      display: -webkit-box;
      box-orient: vertical;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}