@import '/styles/global/vars.scss';

.wrapper {
  position: relative;
  padding-bottom: 100%;
  border-radius: 12px;
  overflow: hidden;

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--panel);
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include defaultAnim;
    overflow: hidden;
    
    img {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: flex;
      @include defaultAnim;
    }
    
    img:not(.empty) {
      &:hover {
        transform: scale(1.1);
      }
    }
    img.empty {
      object-fit: cover;
    }
  }
  .image.loaded {
    opacity: 1;
  }
}