@import '/styles/global/vars.scss';

.wrapper {
  padding: 10px 20px;
  border-radius: 11px;
  background-color: var(--accent);
  color: #fff;
  .part {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include setFont(14px,17px,600);

    .label {
      opacity: .8;
    }

    .value {

    }

  }

  .main {
    @include setFont(20px,20px,600);

    .label {

    }

    .value {

    }

  }
}